<div class="panel panel-default" ng-init="getFilmes()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-list"> </span> Lista de Filmes</p>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Nome</th>
			  <th>Ano</th>
			  <th>Categoria</th>
			  <th>Diretor</th>
			  <th>Sinopse</th>
			  <th>Ações</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="filme in filmes">
			  <td>{{ filme.nome }}</td>
			  <td>{{ filme.ano }}</td>
			  <td>{{ filme.categoria }}</td>
			  <td>{{ filme.diretor }}</td>
			  <td>{{ filme.sinopse }}</td>
			  <td> 
			    <a href="#/filmes/{{filme._id}}/show" class="btn btn-info"> Mostrar  </a>
			    <a href="#/filmes/{{filme._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Editar  </a>
			  	<a ng-click="deleteFilme(filme._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Excluir </a>
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>